<footer id='check'>
    <div class="container">
        <p>&copy; Adam Tse - 2016 - Full Stack Web Developer</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
