<header class='desktop-box logo'>
  <article class='fluid-container name font-size'>
    <h1>Adam Tse</h1></br>
    <span class='col h-space'>Web Developer
  </span>
    <span class='col h-space'>
      <%= link_to 'test, ''https://twitter.com/escapead',target: "_top" %>
    <a id='iconone' href='https://twitter.com/escapead' target: "_top"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a id='icontwo' href='https://ca.linkedin.com/in/adam-tse' target: "_top"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a id='iconfour' href="https://github.com/EscapeAD/" target: "_top"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a id='iconthree' href='mailto:mr.adam.tse@gmail.com' target: "_top"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  </span>
</article>
</header>
