<header class='desktop-box logo'>
  <article class='fluid-container name font-size'>
    <h1>Adam Tse</h1></br>
    <span class='col h-space'>Web Developer
  </span>
    <span class='col h-space'>

    <%= link_to 'https://twitter.com/escapead', id: 'iconone', target: '_top' do %><i class="fa fa-twitter" aria-hidden="true"></i><% end %>
    <%= link_to 'https://ca.linkedin.com/in/adam-tse', id: 'icontwo', target: '_top' do %><i class="fa fa-linkedin-square" aria-hidden="true"></i><% end %>
    <%= link_to 'ttps://github.com/EscapeAD/', id: 'iconfour', target: '_top' do %><i class="fa fa-github" aria-hidden="true"></i><% end %>
    <a id='iconthree' href='mailto:mr.adam.tse@gmail.com'><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  </span>
</article>
</header>
