<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Adam Tse</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="https://twitter.com/escapead"><i class="fa fa-twitter" aria-hidden="true" target="_top"></i></a>
      <a class="nav-item nav-link" href="https://ca.linkedin.com/in/adam-tse"><i class="fa fa-linkedin-square" aria-hidden="true" target="_top"></i></a>
      <a class="nav-item nav-link" href="https://github.com/EscapeAD/"><i class="fa fa-github" aria-hidden="true" target="_top"></i></a>
      <a class="nav-item nav-link" href="mailto:mr.adam.tse@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true" target="_top"></i></a>
    </div>
  </div>
</nav>
