<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Adam Tse</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'https://twitter.com/escapead', class: 'nav-item nav-link', target: '_top' do %><i class="fa fa-twitter" aria-hidden="true"></i><% end %>
      <%= link_to 'https://ca.linkedin.com/in/adam-tse', class: 'nav-item nav-link', target: '_top' do %><i class="fa fa-linkedin-square" aria-hidden="true"></i><% end %>
      <%= link_to 'ttps://github.com/EscapeAD/', class: 'nav-item nav-link', target: '_top' do %><i class="fa fa-github" aria-hidden="true"></i><% end %>
      <a class="nav-item nav-link" href="mailto:mr.adam.tse@gmail.com" target: "_top"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>
