<header class='desktop-box logo'>
  <article class='name font-size'>
    <h1>Adam Tse</h1></br>
    Web Developer <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-linkedin-square" aria-hidden="true"></i> <i class="fa fa-envelope-o" aria-hidden="true"></i>

</article>
</header>

<section class='content container'>
  <article>
    <h1> Greetings</h1>
    <hr>
    <section class='d-flex'>
      <%= image_tag('profile.png', class: 'p-1 img-fluid profile-pic', alt: 'Responsive image') %>
    <p class='p-2'>
      I'm Adam Tse, a Full-stack developer. A new exciting journey I started in 2015, now I'm on a mission to catch them all. In 2015, I was self-taught learning from online resources and books. I eventually decided to take Bitmaker to level up my skills and have a new base of knowledge. Since then I have been continuing my learning in as aspects of coding.
    </br>
    Current Arssonel:</br>
    Ruby on Rails, Ruby, Javascript
    </p>
    <section>
  </article>
</section>
