<header>
</header>

<section class='content container'>
  <article>
    <h1> Welcome to Adam Zone</h1>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales risus nulla, ut accumsan justo pharetra quis. Curabitur ultrices dui a leo rhoncus pharetra. Mauris semper mi sed tristique elementum. Donec condimentum diam iaculis faucibus sagittis. Sed faucibus porttitor efficitur. Integer vestibulum libero blandit arcu elementum vestibulum. Ut at sodales mi. Fusce ut nulla risus. Suspendisse in turpis sapien. Ut posuere aliquet odio, non vehicula tellus condimentum id. Sed vehicula sed risus et elementum. Curabitur accumsan malesuada ex, at condimentum velit placerat quis. Sed molestie lorem ac urna pharetra porta. Aliquam ac erat suscipit, tristique enim a, mattis velit.
    </p>
  </article>
</section>
