body{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.content {
  padding: 50px 0;
}

.desktop-box{
  position: relative;
  height: 600px;
  width: auto;
  background-image: url('mainbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  overflow: hidden;
}

.desktop-box > .name{
  font-size: 2em;
  color: white;
  position: absolute;
  margin-top: 9em;
  margin-left: 3em;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
   line-height: 0.0em;
}

.h-space {
  line-height: 1em;
}
#iconone {
  color: white;
}

#icontwo {
  color: white;
}

#iconthree {
  color: white;
}

.name > h1{
  margin-bottom: 0em;
  color: ;
}

#profile-pic{

}

.navbar {
  background-color: white;
  visibility: hidden;
  transition: visibility 1, opacity 0.5s fade-in;
}
.about{
  margin-top: 5em;
}
.projects{
  margin-top: 5em;
  margin-bottom: 5em;
}

@media (max-width: 1000px) {
  .content{
    padding: 2em;
  }
  #profile-pic {
    margin: 0 auto;
  }
  .about{
    margin-top: 5em;
  }
}
@media (max-width: 600px) {
  .h-space{
    padding-right: 200px;
  }
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
}
