body{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.content {
  padding: 50px 0;
}

.desktop-box{
  position: relative;
  height: 600px;
  width: auto;
  background-image: url('http://i.imgur.com/3SpfdHr.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  overflow: hidden;
}

.desktop-box > .name{
  font-size: 2em;
  color: white;
  position: absolute;
  margin-top: 9em;
  margin-left: 3em;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
   line-height: 0.0em;
}

.h-space {
  line-height: 1em;
}
#iconone {
  color: white;
}

#icontwo {
  color: white;
}

#iconthree {
  color: white;
}

#iconfour {
  color: white;
}

.name > h1{
  margin-bottom: 0em;
}

#profile-pic{

}

.navbar {
  background-color: white;
  visibility: hidden;
  transition: visibility 1, opacity 0.5s fade-in;
}
.about{
  margin-top: 5em;
}

.projects{
  margin-top: 5em;
  margin-bottom: 5em;
}

@media (max-width: 1000px) {
  #profile-pic {
    margin: 0 auto;
  }
  .about{
    margin-top: 5em;
  }
  .projects{
    padding: 1em;
  }
  .content {
    padding: 1em;
  }
  .skill {
    padding-top: 2em;
  }
}

@media (max-width: 600px) {
  .h-space {
    padding-right: 200px;
  }
}

@media (min-width: 1000px) {
  .projects {
  padding: 0;
  }
}

.skillNum {
  float: left;
  font-size: 3em;
  padding: 0.5em;
  padding-top: 0;
  color: #6f9090	;
}

.play{
  color: #6f9090	;
}

.fa-star {
  color: yellow;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

.card-footer {
  background-color: #4e6565;
  color: white;
}
